.Gameboard {
  color: white;
  display: flex;
  flex-wrap: wrap;
  height: calc(19 * 15px);
  margin: 0 auto;
  width: calc(33 * 15px);
}

@media (min-width: 340px) {
  .Gameboard {
    height: calc(19 * 30px);
    width: calc(33 * 30px);
  }
}