@font-face {
  font-family: 'MiniPixel7';
  src: url('./fonts/mini_pixel-7.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

* {
  box-sizing: border-box;
}

html {
  background: black;
  overflow: hidden;
}

body {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}
